body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container1 {
    margin: 0px;
    padding: 0px;
    display: block;
}

.container2 {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container3 {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mainContainer {
    padding: 15px;
    border-radius: 1%;
    background-color: white;
    height: 100%;
}

.content {
    padding: 15px;
    background-color: white;
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}

.logoutBTN {
    color: #fff;
    text-decoration: none;
    background-color: red;
    float: right;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.logoutBTN:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(175, 0, 0);
}

.addAccountHeader,
.searchHeader,
.populationHeader {
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#addAccount {
    text-decoration: none;
    color: #fff;
}

.populationHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

.populationContent {
    display: flex;
    flex-direction: column;
}

.populationRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.populationCategory {
    flex: 1;
}

.populationCount {
    margin-left: 10px;
}

.imgContainer {
    max-width: 250px;
    margin: 0 auto;
}

.mainIMG {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 8px;
}

.infoContainer {
    margin-top: 50px;
    margin-bottom: 45px;
}

.info {
    color: rgb(2, 0, 146);
}

.studInfo {
    font-weight: bold;
}

.nameContainer {
    margin-bottom: 20px;
}

.idContainer {
    margin-bottom: 20px;
}

.instructorFeatures {
    width: 99%;
    margin: 0 auto;
}

.features {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}

#search {
    width: 100%;
}

.changeInfoContainer {
    width: 100%;
    text-align: center;
}

.changeInfoContainer h3 {
    margin: 10px;
}

.tab-button {
    border: none;
    background: none;
    cursor: pointer;
}

.tab-button.active {
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tableWrapper {
    overflow-x: auto;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td:first-child,
td:last-child {
    width: 10%;
}
td:nth-child(2) {
    width: 60%;
}

.no-grades {
    text-align: center;
    margin-top: 20px; 
}


.imgContainer {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}

.mainIMG {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.imgContainer:hover .overlay {
    opacity: 1;
}

.hidden-input {
    display: none;
}

#addGradesForm {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 768px) {
    .container2 {
        margin-left: 20px;
        margin-right: 15px;
    }
    .modal-content {
        width: 90%;
    }
}